.css-1offfwp.e16nr0p33 {

            color :#064273
}

.css-10trblm.e16nr0p30 {
  color : #064273
}

.stApp.streamlit-wide.css-fg4pbf.eczokvf1 {
  background-color : #4AB096
}

.css-18ni7ap.e8zbici2{
  background-color : #4AB096
}
