.css-1offfwp.e16nr0p33 {

            color : white
}

.css-10trblm.e16nr0p30 {
  color : black
}

.stApp.streamlit-wide.css-fg4pbf.eczokvf1 {
  background-color : #064273
}

.css-18ni7ap.e8zbici2{
  background-color : #064273  /* Previous marine green color #4AB096*/
}

.css-12w0qpk.e1tzin5v2 {
  color : black
}

.css-ocqkz7.e1tzin5v4 {
  background-color: white;
  border-radius: 4px;
  padding: 10px;
  width: 100vw;
}

.block-container.css-18e3th9.egzxvld2 {
  padding: 0 !important;
  margin: 0 !important;
}

.appview-container.css-1wrcr25.egzxvld4 {
 margin:0;
 padding-right:0;
 padding-left:0;
}

* {
  padding: 0;
  margin: 0;
}
/* */
