.css-1offfwp.e16nr0p33 {

            color : black
}

.css-10trblm.e16nr0p30 {
  color : black
}

.stApp.streamlit-wide.css-fg4pbf.eczokvf1 {
  background-color : #064273
}

.css-18ni7ap.e8zbici2{
  background-color : #064273  /* Previous marine green color #4AB096*/
}

.css-12w0qpk.e1tzin5v2 {
  color : black
}



/* */
